{% extends 'base.html' %}
{% load static %}
{% block title%}About Us{% endblock title %}

{% block content%}
<div class="row">
    <div class="col-md-12 mt-2 offset-1">
        <h3>About Us</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="col-md-11 mt-5 offset-1" style="font-size: 20px; font-family: sans-serif;">
            lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, id accusantium amet aliquam
            corrupti
            veritatis saepe aliquid consequatur animi iusto, voluptas recusandae vitae nostrum error repellat
            nesciunt.
            Quo, et ipsa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dignissimos magni
            tempora?
            Eveniet deleniti saepe vel, molestiae beatae voluptatum nobis quaerat iure quae, voluptates atque
            illo aut
            commodi, quasi nesciunt?
           
        </p>
    </div>
</div>


{% endblock content %}