{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
<div class="col-md-7 offset-1">
    <form action="" method="post">
        {% csrf_token %}
        <legend>Reset Password</legend>
        {% autoescape off %}
        {{ form|crispy }}
        {% endautoescape %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success btn-lg mt-4 ">Request reset password</button>
        </div>
    </form><br><br>




</div>


{% endblock content %}